
<div id="todo-list-container" class="content-background">
    <md-toolbar class="main-toolbar-container">
        <div class="md-toolbar-tools main-toolbar">
            <md-chips class="filter-todo-by-name"
                    ng-model="todoListController.searchStrings"
                    md-transform-chip="todoListController.transformChip($chip)"
                    md-on-add="todoListController.updateSearchStringsList(false, $chip)"
                    md-on-remove="todoListController.updateSearchStringsList(true, $chip)"
                    placeholder="Filter To-Do By Name" id="filterByName">
                <md-chip-template>
                    <strong>{{$chip}}</strong>
                </md-chip-template>
            </md-chips>
            <span flex></span>
            <md-button class="main-toolbar-btn" ng-click="todoListController.clearFilters()">
                Clear All Filters
            </md-button>
        </div>
    </md-toolbar>

    <div class="todo-list-table">
        <div class="todo-list-table-header">
            <div class="first-column">To-Do-Name</div>
            <div class="second-column">Description</div>
            <div class="third-column">Tags</div>
            <!--<div class="fourth-column"></div>-->
            <!--<div class="fifth-column"></div>-->
        </div>
        <div ng-repeat="todo in todoListController.todoList" class="todo-list-table-row" ng-click="todoListController.navigateTodo(todo)">
            <div class="left-border"></div>
            <div class="first-column">
                <div class="todo-name">{{todo.name}}</div>
            </div>
            <div class="second-column">
                <div class="todo-name">{{todo.description}}</div>
            </div>
            <div class="third-column">
                <md-chips ng-model="todo.tags" readonly="true">
                    <md-chip-template>
                        <strong>{{$chip}}</strong>
                    </md-chip-template>
                </md-chips>
            </div>
            <!--<div class="fourth-column">-->
                <!--<div class="invalid-test-count">0</div>-->
                <!--<div class="overall-test-count">&nbsp;/&nbsp;0</div>-->
            <!--</div>-->
            <!--<div class="fifth-column">-->
                <!--<div class="severity-level">Low</div>-->
                <!--<div class="top-severity-link">Top Severity Failures</div>-->
            <!--</div>-->
            <md-button class="md-icon-button table-row-btn table-row-btn1" >
                <!--ng-click="todoListController.duplicateTodo(todo, $event)">-->
                <i class="material-icons">library_add</i>
            </md-button>
            <md-button class="md-icon-button table-row-btn table-row-btn2" >
                <!--ng-click="todoListController.deleteTodo(todo, $event)">-->
                <i class="material-icons">delete</i>
            </md-button>
        </div>
    </div>

    <md-button class="md-fab md-primary md-fab-bottom-right" ng-click="todoListController.createTodo()" id="createTodoButton">
        <i class="material-icons">add</i>
    </md-button>
</div>