
<md-toolbar>
    <div class="md-toolbar-tools" layout-padding>

        <span>
            <md-menu md-offset="0 40">
                <i class="material-icons" ng-click="$mdOpenMenu($event)">menu</i>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button>
                            <div class="content-menu-border"></div>
                            Item 1
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <div class="content-menu-border"></div>
                            Item 2
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <div class="content-menu-border"></div>
                            Item 3
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </span>

        <span id="company_name">
            <img src="/app/assets/images/testcraft-logo.png" title="testcraft.io" alt="testcraft.io"/>
        </span>

        <span flex></span>

    </div>

    <div style="position:absolute;right:0px;top:40px;height:10px;width:100%;background-image : url('/app/assets/images/testcraft-header-background.jpg'); background-size: cover;">
    </div>
</md-toolbar>
