
<md-toolbar style="height:50px;max-height:50px">
    <div class="md-toolbar-tools" layout-padding>

        <span>
            <md-menu md-offset="0 40">
                <i class="material-icons" ng-click="$mdOpenMenu($event)" id="upperLeftMenu">menu</i>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="headerController.onItem1Click()" id="upperLeftMenuChild1">
                            <div class="content-menu-border"></div>
                            Alert
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="headerController.onItem2Click()" id="upperLeftMenuChild2">
                            <div class="content-menu-border"></div>
                            Confirmation
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="headerController.onItem3Click()" id="upperLeftMenuChild3">
                            <div class="content-menu-border"></div>
                            Pop-Up
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="headerController.navigateTestPage()" id="upperLeftMenuChild4">
                            <div class="content-menu-border"></div>
                            Test-Page
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="headerController.navigateLoadingPage()" id="upperLeftMenuChild5">
                            <div class="content-menu-border"></div>
                            Loading Page
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </span>

        <span id="company_name">
            <img src="/app/assets/images/testcraft-logo.png" title="testcraft.io" alt="testcraft.io"/>
        </span>

        <span flex></span>

    </div>

    <div style="position:absolute;right:0px;top:40px;height:10px;width:100%;background-image : url('/app/assets/images/testcraft-header-background.jpg'); background-size: cover;">
    </div>
</md-toolbar>
